body, html {
    background-color: #f6f6f6;
}
#painting{
  height: 400px;
  width: 400px;
  background-color: #00ff00;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow {
    height: 290px;
}
#bigbox {
    width: 290px;
    height: 290px;
    position: relative;
}
.pink{
  background-color: #FF33F6;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.green{
  background-color: green;
}
.right{
  float: right;
}
.lightblue{
  background-color: #bfefff;
}
.darkpink{
  background-color: #a020f0;
}
#divider1{
  height: 290px;
  width: 10px;
}
#topleftcolumn{

}
.mediumbox{
  width: 100px;
  height: 140px;
}
#divider2{
  height: 10px;
  width: 100px;
  position: relative;
}
#middlerow{
  margin-top: 0px;
  height: 10px;
  width: 400px;
}
#righttop{
  position: absolute;
  bottom: -10px;
  height: 50px;
  width: 40px;
  position: relative;
}
.bottomdivider1{
  height: 110px;
  width: 10px;
}
#rightbottom{
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 40px;
}
#divider3{
  height: 10px;
  width: 40px;
  position: absolute;
  bottom: -3px;
}
#leftbottombox{
  height: 100px;
  width: 110px;
}
.bottomdivider2{
  height: 100px;
  width: 10px;
}
#divider4{
  height: 10px;
  width: 40px;
}
#leftmediumbox{
  position: absolute;
  top: 10px;;
  height: 80px;
  width: 100px;
}
#dividerbelowleftmed{
  position: absolute;
  bottom: -90px;
  height: 10px;
  width: 100px;
}
#boxbelowmedium{
  position: absolute;
  bottom: -140px;
  width: 100px;
  height: 50px;
}
